backups/
*.pyc
__pycache__/
*.db
bot_error.log
*.save
*.working
bot.py.save
bot.py.working
debug*.py
block*.txt
*buildcmd*
*patch_bot*
*extract*
move_init_funcs*
msgline.txt
token.txt
market_block.txt
market_commands.py
market_handlers.py
predator_block.txt
